/* copyright notice */

html {
    box-sizing: border-box;
}
body {
    border-top: 6px #d35750 solid !important;
    margin: 0 !important;
    font-family: 'Source Sans Pro', sans-serif;
    align-items: center;
    justify-items: center;
}

h1, h2 {
    font-family: 'Poppins', sans-serif !important;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.button-outline {
    text-decoration: none;
    color: #1d1e28;
    padding:0.35em 1.2em;
    border:0.1em solid #d35750;
    margin-bottom: 2em;
    border-radius:6px;
    font-weight: 300;
    text-align: center;
    transition: all 0.2s;
    display: inline;
    font-size: 26px !important;
}

.button-outline:hover{
    color: white;
    background-color:#d35750;
}

.gray-block {
    background: #1d1e28 url(https://community.tatsu.gg/uploads/monthly_2021_02/tatsulabs_bg.gif.2612c3d7bcd5cdadc90b9f53d24403ed.gif) no-repeat !important;
    color: white !important;
}

.red-block {
    background: #d35750 !important;
    color: #0d0e13 !important;
}

.wave-top svg {
    display: block;
    transform-origin: top;
    animation: wave 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.wave-bottom svg {
    display: block;
    transform-origin: bottom;
    animation: wave 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hero-center {
    margin-top: 100 !important;
}

.abs, h2:after, .cards .card figcaption, .cards .card:after, .project-carousel .card figcaption, .project-carousel .card:after, .project-carousel .article figcaption {
    position: absolute;
}

.rel, h2, h2 strong, .cards .card, .project-carousel .card, .project-carousel .article {
    position: relative;
}

.fix {
    position: fixed;
}

.dfix {
    display: inline;
}

.dib {
    display: inline-block;
}

.db {
    display: block;
}

.dn {
    display: none;
}

.df, .cards, .project-carousel {
    display: flex;
}

.dif {
    display: inline-flex;
}

.dg {
    display: grid;
}

.dig {
    display: inline-grid;
}

.vm, h2, h2 strong, h2 span {
    vertical-align: middle;
}

h2 {
    padding: 10px;
    padding-left: 25px;
    color: #ccc;
    margin: 0;
}

h2 strong {
    z-index: 2;
    background: #24282f;
    padding: 4px 8px;
}

h2 span {
    font-size: 0.7em;
    color: #aaa;
    margin-left: 10px;
}

h2:after {
    content: '';
    z-index: 1;
    bottom: 50%;
    margin-bottom: -2px;
    height: 2px;
    left: 0;
    right: 0;
    background: #373d47;
}

.cards, .project-carousel {
    flex-flow: row wrap;
    justify-content: center;
}

.cards .card, .project-carousel .card {
    margin: 10px;
    width: 180px;
    height: 270px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    transform-origin: center top;
    transform-style: preserve-3d;
    transform: translateZ(0);
    transition: 0.3s;
}

.cards .card img, .project-carousel .card img {
    width: 100%;
    min-height: 100%;
}

.cards .card figcaption, .project-carousel .card figcaption {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    padding-bottom: 10px;
    background: none;
    color: #fff;
    transform: translateY(100%);
    transition: 0.3s;
}

.cards .card:after, .project-carousel .card:after {
    content: '';
    z-index: 10;
    width: 200%;
    height: 100%;
    top: -90%;
    left: -20px;
    opacity: 0.1;
    transform: rotate(45deg);
    background: linear-gradient(to top, transparent, #fff 15%, rgba(255, 255, 255, 0.5));
    transition: 0.3s;
}

.cards .card:hover, .project-carousel .card:hover, .cards .card:focus, .project-carousel .card:focus, .cards .card:active, .project-carousel .card:active {
    box-shadow: 0 8px 16px 3px rgba(0, 0, 0, 0.6);
    transform: translateY(-3px) scale(1.05) rotateX(15deg);
}

.cards .card:hover figcaption, .project-carousel .card:hover figcaption, .cards .card:focus figcaption, .project-carousel .card:focus figcaption, .cards .card:active figcaption, .project-carousel .card:active figcaption {
    transform: none;
}

.cards .card:hover:after, .project-carousel .card:hover:after, .cards .card:focus:after, .project-carousel .card:focus:after, .cards .card:active:after, .project-carousel .card:active:after {
    transform: rotate(25deg);
    top: -40%;
    opacity: 0.15;
}

.project-carousel .article {
    border-radius: 18px;
    overflow: hidden;
    width: 350px;
    height: 235px;
    margin: 20px;
}

.project-carousel .article img {
    width: 100%;
    min-height: 100%;
    transition: 0.2s;
}

.project-carousel .article figcaption {
    font-size: 18px;
    text-shadow: 0 1px 0 rgba(51, 51, 51, 0.3);
    color: #fff;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 8px 20px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    background: rgba(50, 50, 50, 0.454);
    opacity: 0;
    transform: scale(1.15);
    transition: 0.2s;
}

.project-carousel .article figcaption h3 {
    color: #d35750;
    font-size: 24px;
    margin-bottom: 0;
    font-weight: bold;
}

.project-carousel .article:hover img, .project-carousel .article:focus img, .project-carousel .article:active img {
    filter: blur(3px);
    transform: scale(0.97);
}

.project-carousel .article:hover figcaption, .project-carousel .article:focus figcaption, .project-carousel .article:active figcaption {
    opacity: 1;
    transform: none;
}

.footer {
    text-align: left !important;
    color: #ecf2ff;
    padding: 30px 30px !important;
}

.footer .footer1 {
    padding-top: 4em;
    color: #a2a8bd !important;
}

.footer .footer2 {
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 5px !important;
    letter-spacing: 0.15em !important;
    font-variant: small-caps !important;
}

.footer .footer2 a {
    color: #ff6961 !important;
    text-decoration: none !important;
}

.title, .subtitle {
    text-align: center;
}

.title {
    color: white;
    line-height: 90px !important;
    margin-bottom: -2px !important;
    font-size: 80px !important;
}

.subtitle {
    color: rgba(255, 255, 255, 0.685) !important;
    font-size: 16px !important;
    font-family: 'Lato', sans-serif;
    font-size: 36px !important;
}

.menu-bar {
    border-radius: 25px;
    display: flex;
    justify-content: center;
    background-color: rgb(205, 205, 205);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    width: 50%;
    left: 25%;
    position: absolute;
    box-shadow: 0px 3px 20px 0px rgba(162, 162, 162, 0.475);
}

.menu-bar a {
    text-decoration: none !important;
    list-style: none;
    color: #0d0e13;
    font-weight: bold;
    padding: 12px 16px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    font-size: 24px;
}

.menu-bar li {
    font-size: medium !important;
    display: list-item;
    list-style: none;
    color: #0d0e13;
    font-weight: bold;
    padding: 12px 16px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    font-size: 24px;
}

.menu-bar li a::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: 0.2s;
    border-radius: 25px;
}

.menu-bar li a:hover {
    color: white !important;
}

.menu-bar li a:hover::before {
    background: linear-gradient(to bottom, #ff6961, rgb(233, 108, 101));
    box-shadow: 0px 3px 20px 0px #0d0e13;
    transform: scale(0.9);
}

.profile-cards {
    display: flex;
}

.profile-card {
    width: 30%;
    text-align: center;
    left: calc(50vw - (512px / 2));
    border-radius: 6px;
    padding: 1em;
    background-color: white;
    position: relative;
    box-shadow: 0 2px 12px 3px rgba(92, 92, 92, 0.87);
    padding-bottom: 2em !important;
}

.profile-card p {
    color: black;
    line-height: 1.5;
    text-align: left;
    font-size: 18px !important;
}

.kilo {
    left: 10%;
}

img#profile-image {
    position: absolute;
    border-radius: 30%;
    width: 200px;
    height: 200px;
    margin-top: -128px;
    margin-left: calc(200px / -2);
    box-shadow: 0 2px 12px 3px rgba(38, 38, 38, 0.221)
}

#info-box svg {
    position: relative;
    top: 3px;
    padding: 0px 1px;
}

::selection {
  background: #f76c6c9c;
}

.projects-group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
}
  
.projects-field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #c9d1d9;
    outline: 0;
    font-size: 1.3rem;
    color: #c9d1d9;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
.projects-field::placeholder {
    color: transparent;
}
  
.projects-field:placeholder-shown ~ .projects-label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}
  
.projects-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #8b9197;
}
  
.projects-field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-bottom-width: 3px !important;
    border-image: linear-gradient(to right, #5bc95b, #5bc97e) !important;
    border-image-slice: 1 !important;
}

.projects-field:focus ~ .projects-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #5bc97e;
    font-weight: 700;
}

@keyframes wave {
    0% {
        transform: scale(1, 0);
   }
   
    100% {
        transform: scale(1, 1);
   }
}
